h1{
    color: rgb(201, 93, 44);
    margin-left: 40%;
    margin-bottom: 1%;
}
#myInput{
    color:rgb(58, 26, 26);
    margin-left: 40%;
    margin-top: 3%;
    height: 10%;
    width: 10%;
}
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
#link{
    margin-left: 40%;
}
div{
    margin-bottom: 50%;
}

